*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.index-header,
.section-1,
.internship-works
{
    background-color: #E4EDF2;
}

nav a, 
.p-2,
.small-div{
    font-size: 1rem;
}
.head-h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.color-purple{
    color: #24116A;
}

.p-interns{
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 4%;
}

.sponsor{
    width: 90%;
}

.small-div{
    width: 70%;
    font-weight: 500;
    border-left: 2px solid #BDBDBD;
}

.card-1{
    background-color: #ffff;
    
}
.quote{
    font-size: x-large;
    color: #C6E2FF;
}

.support-input{
    width: 35%;
    height: 43px;
    box-shadow: 0px 0px 50px rgba(22, 82, 240, 0.05);
    border-radius: 3px;
    border: 1px solid rgba(22, 82, 240, 0.25);
}

.color-blue{
    background: #00AEFF;
    color: #ffff;
    
}

footer{
    background: #24116A;
}
.footer-div{
    width: 70%;
}



/* about style  */

.about-header{
    background: #E4E4F2;
    border-radius: 10px;
}

.talent-div{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    

}
.about-div p{
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2;
}

.about-div{
    width: 97%;
    display: flex;
}

.internship-works{

}

.intern-p1{
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
}

@media (min-width: 768px){
    .small-div{
        width: 19%;
       
    }

    .about-div p{
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .footer-div{
        width: 60%;
    }
} 

@media (min-width: 1024px){

    .about-sub-header{
        top: 7rem;
        left: 4rem;
    }
}